<!DOCTYPE html> 
<html>  
	<head> 
  	<meta charset = "utf-8"> 
  	<meta name=‘viewport’ content=“width=device-width, initial-scale=1”>
    <title> Stock Ticker </title>
   	</head> 
  	<body> 
  		<form method="GET" action="/stock">
  			Please choose whether you would like to search based on the stock ticker or company name <br>
        <input type="radio" id="stockTicker" name="radio" value="stockTicker">
        <label for="stockTicker">Stock Ticker</label><br>
        <input type="radio" id="company" name="radio" value="company">
        <label for="company">Company Name</label><br>
        <br/>
        <input type="text" name="input">
        <br> <br>
        <input type="submit">
  		</form>
  	</body>
</html>
